<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Home Services Admin</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <base href="/">

    <style>
        .modal-backdrop.fade {
        z-index: 0;
        background: #fff
    }
    
    .modal{
        margin-top: 10%;
    
    }
    a:hover {     text-decoration: none !important;
}
    </style>
    <!-- Favicons -->

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/icons/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/icons/apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/icons/apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="/assets/images/icons/apple-touch-icon-57-precomposed.png" />
    <link rel="shortcut icon" href="/assets/images/icons/favicon.png" />

    <!--[if lt IE 9]>
     
    <![endif]-->


    <!-- Fides Admin CSS Core -->

    <link rel="stylesheet" type="text/css" href="/assets/css/minified/aui-production.min.css" />

    <link rel="stylesheet" type="text/css" href="/assets/css/minified/jquery.toast.min.css" />
  
  


    <!-- Theme UI -->
    <link id="layout-theme"  rel="stylesheet"  type="text/css" href="/assets/themes/minified/fides/color-schemes/dark-purple.min.css" />



    <!-- Fides Admin Responsive -->

    <link rel="stylesheet" type="text/css" href="/assets/themes/minified/fides/common.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/themes/minified/fides/responsive.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/telephone/css/intlTelInput.css" />


          <!-- Fides Admin JS -->
          <script type="text/javascript" src="/assets/js/minified/aui-production.min.js"></script>
          <script type="text/javascript" src="/assets/telephone/js/intlTelInput.min.js"></script>
          <script type="text/javascript" src="/assets/telephone/js/intlTelInput-jquery.min.js"></script>
          <script type="text/javascript" src="/assets/js/minified/jscolor.js"></script>

          
         
          <script src="/assets/js/minified/jquery.toast.min.js"></script>
          <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
          <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/additional-methods.min.js"></script>
          <script src="https://cdn.tiny.cloud/1/mxnnylag9k6l40s8knvvd2kdt332srgeuntcttn7g7rkixvq/tinymce/5/tinymce.min.js" referrerpolicy="origin"/></script>
          



          <!-- <script type="text/javascript" src="/assets/js/minified/parsely-min.js"></script> -->

          <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->

    <script>
        jQuery(window).load(
            function(){

                var wait_loading = window.setTimeout( function(){
                  $('#loading').slideUp('fast');
                  jQuery('body').css('overflow','auto');
                },1000
                );

            });

    </script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
